#chatbox {
	position: absolute;
	display:none;
	left: 400px;
	top: 200px;
	padding: 5px;
	background: #f0f3f9;
	font-size: 12px;
	-moz-box-shadow: 2px 2px 4px #666666;
	-webkit-box-shadow: 2px 2px 4px #666666;
	z-index: 1000;
}
#chatmain {
	border: 1px solid #a0b3d6;
	background: white;
}
#bar {
	line-height: 24px;
	background: #beceeb;
	border-bottom: 1px solid #a0b3d6;
	padding-left: 5px;
	cursor: move;
}
#chatborard {
	width: 420px;
	height: 250px;
	padding: 10px 5px;
	overflow-y: scroll;
}
#inputcontent {
	width: 420px;
	height: 15px;
	padding: 5px 5px;
	border-top: 1px solid #a0b3d6;
}
#chatsend {
	height: 25px;
	margin-right: 5px;
	border: 0px;
	background-color: #beceeb;
}