#music {
	width:100%;
	height:100%;
/* 	width: 540px;
	height: 400px; 
	margin-left: 65px;*/
	border-radius: 40px;
	background: rgba(255,255,255,0.7);
	position: relative;
}
#music-head {
	width: 500px;
	height: 50px;
}
#music-head div {
	float: left;
	width: 90px;
	height: 50px;
}
#allMusic {
	background-image: url(../imgs/music_01.png);
	background-repeat: no-repeat;
	margin-left: 20px;
	cursor:pointer;
}

#music-head input {
	width: 200px;
	height: 30px;
	margin: 10px 0px 0px 10px;
	padding-left:30px;
	float:left;
	box-sizing: border-box;
	border-radius: 15px;
	background-image: url(../imgs/music_06.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	outline: none;
}
.music-container{
	width: 100%;
	height: 300px;
	overflow: auto;
}

#music-search,#music-mine,#music-friend {
	display: none;
	position: relative;
}

.music-list,.search-list,.music-mine-list,.music-friend-list{
	width: 156px;
	height: 176px;
	float: left;
	margin: 0px 0px 10px 5px;
	background: rgba(255,255,255,0.7);
	border-radius: 30px;
	border: 2px solid rgba(255,255,255,0.8);
	position: relative;
}
.music-list span,.search-list span,.music-mine-list span,.music-friend-list span{
	font-size: 12px;
	float: right;
	margin: 10px;
	color: green;
	font-weight: bold;
}
/* .search-list span {
	font-size: 12px;
	float: right;
	margin: 10px;
	color: green;
	font-weight: bold;
} */
.music-poster {
	width: 120px;
	height: 120px;
	margin: 30px 0px 0px 20px;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-size: 100% 100%;//
	background-image: url(../imgs/d1.png);
}
.photo-frame {
	width: 120px;
	height: 120px;
	border: 6px solid rgba(255,255,255,0.5);
	border-radius: 50%;
	box-sizing: border-box;
}
.music-share, .music-like {
	width: 15px;
	height: 15px;
	float: left;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	cursor: pointer;
}
.music-share {
	margin-left: 25px;
	background-image: url(../imgs/music_05.png);
}
.music-like {
	margin-left: 80px;
	background-image: url(../imgs/music_04.png);
}
#like-count{
	color:#FD6A02;
	font-size: 15px;
}
.music-control {
	position: absolute;
	top: 67px;
	left: 58px;
	width: 45px;
	height: 45px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-image: url(../imgs/music_02.png);
}
.music-play {
	background-image: url(../imgs/music_03.png);
}
.poster-rotate {
	animation: rotate 15s linear infinite;
}

/*音乐上传弹出框*/
#music-upload {
	background-color: white;
	border-radius: 5px;
	box-shadow: 0 0 5px black;
	width:500px;
	position: fixed;
	margin:auto;
	left:0;
	right:0;
	top:-500px;
}
#mu-header {
	width: 500px;
}
#mu-header-title {
	font-size: x-large;
	margin: 20px;
}
#mu-body {
	width: 500px;
}

#music-upload-audio,#music-upload-poster {
	width:100%;
	height: 100%;
	position: absolute;
	left:0;
	top:0;
	opacity:0;
}

.music-upload-item-wrap,#music-upload-singer{
	display:block;
	width: 90%;
	height: 40px;
	margin: auto;
	margin-top: 10px;
	border-radius: 5px;
	border: 1px solid #cccccc;
	outline-width: 0;
	padding-left: 5px;
	transition: box-shadow 0.2s ;	
	position: relative;	
}

.mu-item-hint{
	display:inline-block;
    font-weight: normal;
    font-size: 100%;
    color:#7D7D7D;
    margin-top: 10px;
}

#mu-body input:focus {
	box-shadow: 0 0 8px rgba(82, 168, 236, 1);
}

#mu-footer {
	width: 500px;
	height: 70px;
	margin-top: 20px;
}
#mu-footer button {
	padding: 5px;
	width:100px;
	height:40px;
	float:right;
	margin-right: 20px;
	border:0;
	border-radius: 5px;
}

#mu-footer button:hover{
	background-color: rgba(0,0,255,0.2);
}

#mu-footer button:focus{
	outline:none;
}

#mu-footer button:mutive{
	box-shadow: 0 0  5px blue;
}
/*音乐上传弹出框*/

@keyframes rotate{
from {
	transform: rotate(0deg);
}
to {
	transform: rotate(360deg);
}
}