<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>minecraft</display-name>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.it61.minecraft.web.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.it61.minecraft.web.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>login</servlet-name>
    <jsp-file>/jsp/login.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>com.it61.minecraft.web.servlet.IndexServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.it61.minecraft.web.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ValidateCodeServlet</servlet-name>
    <servlet-class>com.it61.minecraft.web.servlet.ValidateCodeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddFriendServlet</servlet-name>
    <servlet-class>com.it61.minecraft.web.servlet.AddFriendServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RemoveFriendServlet</servlet-name>
    <servlet-class>com.it61.minecraft.web.servlet.RemoveFriendServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CheckValidateCodeServlet</servlet-name>
    <servlet-class>com.it61.minecraft.web.servlet.CheckValidateCodeServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>register</servlet-name>
  	<jsp-file>/jsp/register.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>SettingServlet</servlet-name>
    <servlet-class>com.it61.minecraft.web.servlet.SettingServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShowPicServlet</servlet-name>
    <servlet-class>com.it61.minecraft.web.servlet.ShowPicServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MomentServlet</servlet-name>
    <servlet-class>com.it61.minecraft.web.servlet.MomentServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoadMoreMomentServlet</servlet-name>
    <servlet-class>com.it61.minecraft.web.servlet.LoadMoreMomentServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FavorAddServlet</servlet-name>
    <servlet-class>com.it61.minecraft.web.servlet.FavorAddServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FavorCancelServlet</servlet-name>
    <servlet-class>com.it61.minecraft.web.servlet.FavorCancelServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CommentServlet</servlet-name>
    <servlet-class>com.it61.minecraft.web.servlet.CommentServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CreateAlbumServlet</servlet-name>
    <servlet-class>com.it61.minecraft.web.servlet.CreateAlbumServlet</servlet-class>
  </servlet>










  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/servlet/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/servlet/RegisterServlet</url-pattern>
  </servlet-mapping>
  <!-- 一个Servlet匹配多个请求URL -->
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/login.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/login.htm</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/index.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/index.htm</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/servlet/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ValidateCodeServlet</servlet-name>
    <url-pattern>/servlet/ValidateCodeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddFriendServlet</servlet-name>
    <url-pattern>/servlet/AddFriendServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RemoveFriendServlet</servlet-name>
    <url-pattern>/servlet/RemoveFriendServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckValidateCodeServlet</servlet-name>
    <url-pattern>/servlet/CheckValidateCodeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>register</servlet-name>
  	<url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SettingServlet</servlet-name>
    <url-pattern>/servlet/SettingServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowPicServlet</servlet-name>
    <url-pattern>/servlet/ShowPicServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MomentServlet</servlet-name>
    <url-pattern>/servlet/MomentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoadMoreMomentServlet</servlet-name>
    <url-pattern>/servlet/LoadMoreMomentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FavorAddServlet</servlet-name>
    <url-pattern>/servlet/FavorAddServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FavorCancelServlet</servlet-name>
    <url-pattern>/servlet/FavorCancelServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CommentServlet</servlet-name>
    <url-pattern>/servlet/CommentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreateAlbumServlet</servlet-name>
    <url-pattern>/servlet/CreateAlbumServlet</url-pattern>
  </servlet-mapping>
  <!--统一处理编码的过滤器  -->
  <!-- 定义过滤器 -->
  <filter>
    <filter-name>CharactorFilter</filter-name>
    <filter-class>com.it61.minecraft.web.filter.CharactorFilter</filter-class>
  </filter>
  <!-- 定义过滤规则 -->
  <filter-mapping>
    <filter-name>CharactorFilter</filter-name>
    <url-pattern>/servlet/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CharactorFilter</filter-name>
    <url-pattern>*.html</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CharactorFilter</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  <!-- 统一处理页面访问权限的过滤器 -->
  <!-- 定义过滤器 -->
  <filter>
    <filter-name>WhetherLogFilter</filter-name>
    <filter-class>com.it61.minecraft.web.filter.WhetherLogFilter</filter-class>
    <init-param>
      <param-name>excludedPages</param-name>
      <param-value>/index.html,/login,/login.html,/login.htm,/jsp/login.jsp,/servlet/LoginServlet,/register,/servlet/RegisteServlet,/servlet/ValidateCodeServlet,/servlet/CheckValidateCodeServlet</param-value>
    </init-param>
  </filter>
  <!-- 定义过滤规则 -->
  <filter-mapping>
    <filter-name>WhetherLogFilter</filter-name>
    <url-pattern>/servlet/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>WhetherLogFilter</filter-name>
    <url-pattern>*.html</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>WhetherLogFilter</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  <listener>
  	<listener-class>com.it61.minecraft.web.listener.WebContextListener</listener-class>
  </listener>
  <listener>
  	<listener-class>com.it61.minecraft.web.listener.OnlineUserSessionListener</listener-class>
  </listener>

    
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
  </welcome-file-list>
</web-app>